
<%- include('header')%>
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <% var fullName=adminRecord.name.split(' ')%>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Edit Admin</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="/admin/editAdminData/<%= adminRecord.id%>" method="post" enctype="multipart/form-data" class="form-horizontal">
                               
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">First Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="text-input" value="<%= fullName[0]%>"  name="fname" placeholder="Enter First Name" class="form-control">
                                       
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Last Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="text-input"   value="<%= fullName[1]%>" name="lname" placeholder="Enter Last Name" class="form-control">
                                       
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="email-input" class=" form-control-label">Email Input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="email" id="email-input" value="<%= adminRecord.email%>" name="email" placeholder="Enter Email" class="form-control">
                                       
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="textarea-input" class=" form-control-label">Message</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="message" id="textarea-input" rows="4" placeholder="Content..." class="form-control"><%= adminRecord.message%></textarea>
                                    </div>
                                </div>
                                <% let city=['Surat','Ahmedabad','Vadodara']%>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="selectSm" class=" form-control-label">Select City</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="city" id="SelectLm" class="form-control-sm form-control">
                                            <option value="">select-city</option>
                                            <% city.map((v,i)=>{%>
                                                <option value="<%= v%>" <% if(adminRecord.city==v){%><%= 'selected'%><% }%>><%= v%></option>
                                           <% })%>
                                        </select>
                                    </div>
                                </div>
                                
                               
                                
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Gender</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label for="inline-radio1" class="form-check-label ">
                                                <input type="radio" id="inline-radio1"  name="gender" value="male" class="form-check-input" <% if(adminRecord.gender=='male'){%><%= 'checked'%><% }%>>Male
                                            </label>
                                            <label for="inline-radio2" class="form-check-label ">
                                                <input type="radio" id="inline-radio2" name="gender" value="female" class="form-check-input" <% if(adminRecord.gender=='female'){%><%= 'checked'%><% }%>>Female
                                            </label>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Hobby</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label for="inline-checkbox1" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox1" name="hobby" value="reading" class="form-check-input" <% if(adminRecord.hobby.includes('reading')){8%><%= 'checked'%><% }%>>Reading
                                            </label>
                                            <label for="inline-checkbox2" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox2" name="hobby" value="dance" class="form-check-input" <% if(adminRecord.hobby.includes('dance')){8%><%= 'checked'%><% }%>>Dance
                                            </label>
                                            <label for="inline-checkbox3" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox3" name="hobby" value="adventure" class="form-check-input" <% if(adminRecord.hobby.includes('adventure')){8%><%= 'checked'%><% }%>>Adventure
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="file-input" class=" form-control-label">Upload Image</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="file-input" name="image" class="form-control-file">
                                        <img src="<%= adminRecord.image%>" alt="image" width="100" height="100" >
                            
                                    </div>
                                </div>
                            
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            <%- include('footer')%>
